@import '~antd/dist/antd.css';

body {
  background-color: #f7dda3;
  /* background-image: radial-gradient(circle, #e1f1fc 0%, #c5d4de 70%, #b6c3cc 100%); */
  background-image: radial-gradient(circle, #ffedcf 0%, #FFEDF2 70%, #FFEFEF 100%);
}

#creditsDiv {
  display: block;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.parentContainer {
  width:95%;
  max-width: 500px;
  min-width: 300px;
  margin-top: 50px;
  margin-bottom: 50px;
  /* background-color: red; */
}


#introSection {
  background-color: #FFC2D2 ;
  width: 300px;
  float: left;

}

#emailingSection {
  background-color: #DFFFC2 ;
  width: 300px;
  float: left;
}

#quickEmailSubsection {
  /* background-color: ; */
  padding: 20px;
}

.emailButtonDiv {
  margin-top: 10px;
}

#callingPolicyMakers {
  background-color: #FFCDC2;
  width:300px;
  float: left;

}

#bailFundsSection {
  background-color: #C2D4FF;
  width:300px;
  float: left;

}

#contactusSection {
  background-color: #FFC2FD;
  width:300px;
  float: left;

}

.petitionLinks {
  margin-bottom: 10px;
}



.inputType {
  /* text-align: center;
  align-items: center;
  justify-content: center; */
}


.creditsSection {
  padding: 10px;
}

#creditButton {
  cursor: pointer;
}


#creditMessage {
  display: none;
  padding:10px;
}


.bottomIcons {
  font-size:17.5px;
  color:black;
}

.contact {
  /* margin-top: 10px; */
}
/* 
.App-logo {
  height: 40vmin;
  pointer-events: none;
} */

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
